/__pycache__
__pycache__/
/temp_files
temp_files/
*.py[cod]
.DS_Store
._.DS_Store
.settings
.pydevproject
.project
.dir
.bak
.dat
.dir
*.bak
*.dat
*.db
*.log
*.txt
._*
._ui_*
._.gitignore
._.project
*.json